<html>

<head>
    <title>
        To do list
    </title>
    <link rel="stylesheet" href="Css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1><%= kindofday %> </h1>
    </div>
    <div class="box">
        <%for(var i=0;i<newItemlists.length;i++) {%>
        <div class="item">
            <input type="checkbox">
            <p><%= newItemlists[i] %></p>
        </div>
        <%}%>  
        <form class="item" action="/" method="POST">
            <input type="text" name="input" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>   
    </div>
        
         

    </body>
</html>